<div class="container">
  <div class="row">
    <h1 *ngIf="modoCreacion">Crear Permiso</h1>
    <h1 *ngIf="!modoCreacion">Actualizar Permiso</h1>
  </div>
  <div class="row">
    <div class="col-3">
      <label for="url">URL</label>
    </div>
    <div class="col-9">
      <input
        type="text"
        class="form-control"
        id="url"
        name="url"
        
      />
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-3">
      <label for="metodo">Método</label>
    </div>
    <div class="col-9">
      <select
        class="form-control"
        id="metodo"
        name="metodo"
        
      >
        <option *ngFor="let item of metodos" [value]="item" selected>
          {{ item }}
        </option>
      </select>
    </div>
  </div>

  <button
    *ngIf="modoCreacion"
    class="btn btn-primary btn-block"
    (click)="crear()"
  >
    Crear
  </button>
  <button
    *ngIf="!modoCreacion"
    class="btn btn-primary btn-block"
    (click)="actualizar()"
  >
    Actualizar
  </button>
</div>
