<div class="container">
    <h1>Rutas</h1>
    <button class="btn btn-outline-primary mb-3" (click)="crear()">Crear</button>
    <table class="table">
      <thead>
        <tr class="table-light">
          <th *ngFor="let colActual of columnas" scope="col">
            {{ colActual }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rutaActual of misRutas">
          <td scope="col">{{ rutaActual.id }}</td>
          <td scope="col">{{ rutaActual.origen }}</td>
          <td scope="col">{{ rutaActual.destino }}</td>
        
                    <td scope="col">
            <button class="btn btn-outline-success m-1" (click)="editar(rutaActual.id)">Actualizar</button>
            <button class="btn btn-outline-danger" (click)="eliminar(rutaActual.id)">Eliminar</button>          
          </td>
        </tr>
      </tbody>
    </table>
  </div>