<div class="container">
  <h1>Usuarios</h1>
  <button class="btn btn-outline-primary mb-3" (click)="crear()">Crear</button>
  <table class="table">
    <thead>
      <tr class="table-light">
        <th *ngFor="let colActual of columnas" scope="col">
          {{ colActual }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuarioActual of misUsuarios">
        <td scope="col">{{ usuarioActual.id }}</td>
        <td scope="col">{{ usuarioActual.nombre }}</td>
        <td scope="col">{{ usuarioActual.correo }}</td>
        <td scope="col">{{ usuarioActual.rol?.nombre }}</td>
        <td scope="col">
          <button class="btn btn-outline-success m-1" (click)="editar(usuarioActual.id)">Actualizar</button>
          <button class="btn btn-outline-danger" (click)="eliminar(usuarioActual.id)">Eliminar</button>          
        </td>
      </tr>
    </tbody>
  </table>
</div>